<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app id="TAVSERV2.3">
	<display-name>Taverna Server 2.3.0-alpha: Server Component</display-name>
	<description>This is the front-end server engine for Taverna Server 2.</description>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/beans.xml</param-value>
		<description>Where Spring is to load its bean definitions from. DO NOT CHANGE.</description>
	</context-param>
	<context-param>
		<param-name>executeWorkflowScript</param-name>
		<param-value>/some/where/executeworkflow.sh</param-value>
		<description>The location of the Taverna2 workflow execution script.</description>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<display-name>CXF Servlet</display-name>
		<servlet-class>
			org.apache.cxf.transport.servlet.CXFServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>
